<library path="src">
  <class name="GimbalLockRqtPlugin" 
         type="gimbal_lock_demo.rqt_gimbal_gui.GimbalLockRqtPlugin" 
         base_class_type="qt_gui_py_common::Plugin">
    <description>Slider controller for Gimbal Lock Demo</description>
    <qtgui>
      <group><label>Robot Tools</label></group>
      <label>Gimbal Controller</label>
    </qtgui>
  </class>
</library>